:root {
  /* colors */
  --white-color:#ffffff;
  --background-color: #2F756E;
  --text-color: #efefef;
  --button-color: #ffffcc;
}

* {
  margin: 0 auto;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}
input, button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}
#results-div {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}